html {
	margin: 0px;
	background-color: rgb(230, 230, 230);
}
body {
	margin: 0px;
	background-color: rgb(230, 230, 230);
}
header {
	width: 100%;
	height: 300px;
	background-size: cover;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	.logo {
		width: 60px;
	}
	.menu {
		width: 30px;
		height: 30px;
		margin-left: auto;
		order: 2;
		cursor: pointer;
	}
	h1 {
		text-align: center;
		text-transform: uppercase;
		color: orangered;
	}
	.header-content {
		p {
			color: white;
			text-align: center;
			font-weight: lighter;
		}
	}
}
* {
	font-family: 'Roboto Condensed', sans-serif;
}
a {
	color: initial;
}
nav {
	top: 0px;
	right: -250px;
	height: 100%;
	width: 230px;
	background-color: white;
	box-shadow: 0px 0px 10px rgb(83, 83, 83);
	position: fixed;
	li {
		margin-bottom: 20px;
	}
	.close {
		cursor: pointer;
		width: 10px;
	}
	.container {
		padding: 15px;
	}
}
ul {
	list-style: none;
}
.hidden {
	display: none;
}
.input {
	width: calc(100% - 40px);
	height: 35px;
	border-radius: 5px;
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid grey;
	margin-bottom: 20px;
}
.btn {
	cursor: pointer;
	width: 100%;
	height: 35px;
	border-radius: 5px;
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid grey;
	margin-bottom: 20px;
	margin-top: 20px;
	color: white;
	background-color: black;
}
.container {
	padding: 30px;
}
.bk-home {
	background-image: url('/assets/images/header-background-home.png');
}
.bk-create {
	background-image: url('/assets/images/header-background-create.png');
}
.box {
	background-color: white;
	width: 100%;
	border-radius: 15px;
	box-shadow: 0px 0px 15px rgb(209, 209, 209);
}
.none {
	margin: 0px;
	padding: 0px;
}
.flex {
	display: flex;
}
.wrap {
	flex-wrap: wrap;
}
.item-list-course {
	align-items: center;
	height: 110px;
	border-bottom: 1px solid rgb(223, 223, 223);
	transition: background-color 0.4s ease;
	cursor: pointer;
	&:last-child {
		border-bottom: none;
	}
	>span {
		min-width: 70px;
		width: 40%;
		justify-content: flex-end;
		>div {
			min-width: 70px;
			width: 70px;
			height: 70px;
			background-size: cover;
			border-radius: 8px;
			margin-left: 20px;
		}
	}
	>p {
		width: 60%;
		font-size: 18px;
		font-weight: bold;
	}
}
.pic {
	width: 50px;
	height: 50px;
	cursor: pointer;
	background-size: 80%;
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-position-y: 50%;
	background-image: url('/assets/images/camera.png');
	border: 1px dashed black;
	margin-right: 10px;
	margin-top: 10px;
}
.plus {
	width: 50px;
	height: 50px;
	cursor: pointer;
	background-size: 80%;
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-position-y: 50%;
	background-image: url('/assets/images/camera.png');
	border: 1px dashed black;
	margin-right: 10px;
	margin-top: 10px;
	background-image: url('/assets/images/plus.png');
}
.mt-20 {
	margin-top: 20px;
}
.w100 {
	width: 100%;
}
.images-course {
	img {
		margin-left: 5%;
		margin-right: 5%;
		margin-bottom: 20px;
		border-radius: 8px;
		width: 40%;
	}
}
.danger {
	border: none;
	background-color: rgb(189, 6, 6);
}
.info {
	border: none;
	background-color: rgb(4, 160, 199);
}
